#nav{
	border: 1px solid white;
	background-color: white;
	height: 57px;
	padding-top: 4px;
	padding-bottom:4px;
}
#nav2{
	background-color: white;
	padding-top:15px;
}

#right{
	float: right;
}
#brand{
	font: bold 23px Tahoma
 }
#brand:hover{
	color: #26a274;
	
 }
.pull{
	 float: right;
 }
#padding{
	 padding-top:22px;
	 font-size: 22px;
 }
.v{
	 border-left: 2px solid black;
	height: 50px;
	float: left;	
 }
 .thumbnail{
	background-color: #DCDCDC;
	border: 1px solid #DCDCDC;
	display:block;
	width:100%;
	height:400px;
	 
 }
 .thumbnail:hover{
	 background-color: white;
	 -webkit-box-shadow: rgb(110,110,110) 10px 10px 10px;
	 	
 }
.button{
	padding-top: 20px;	
}
#c{
	font: 16px Tahoma;
}
#d{
	font: 16px Tahoma;
}		
 
 #c:hover{
	 color: #26a274;
	 border-bottom: 2px solid #26a274;
 }
#d:hover{
	 color: #26a274;
	 	 
 }
#heart{
	float: right;
}

#filter{
	 border: 1px white;
	 background-color: white;
	 margin: 0px;
 }
#clear{
	 float: right;
 }

 #grid_view{
	 text-align:right;
	 border: 1px solid black;
 }
 
 
#main{
	background-color: #DCDCDC;
	padding-top:80px;	
}
.filter_pad{
	padding-top: 150px;
}
#pad{
	margin: 4px;
	padding-right:5px;
}
.footer{
	background-color: #A9A9A9;
	color: black;
	padding-top: 100px;
	padding-bottom: 0px;
	border-top: 1px solid blue;
	border-bottom: 3px solid blue;
}
.vertical{
	border-left: 1px solid blue;
	height: 260px;
	float: left;	
}
#copy{
	padding-top:100px;
	padding-bottom:10px;
}
#color{
	color:#DAA520;
}
#border{
	padding-top:5px;
	border: 1px solid black;
}
#login{
	padding-top: 2px;
}
.button{
	padding-top: 150px;
}
.pagination li.active a {
  background-color: #26a274;
 }
.pagination li.active a:hover {
  background-color: #26a274;
 }
 .left{
	float: left;	
 }
 .right_side{
	 float:right
 }
#head_footer{
	font:  bold 20px Tahoma;
}
#para_footer{
	font: 18px Tahoma; 
}
#list_footer{
	font: bold 20px Rubik; 
}